/* COMMON */
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic',sans-serif;
}
img{
  display: block;
}
a{
  text-decoration: none;
  
}
.inner{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn{
  width: 130px;
  padding: 10px;
  color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  background-color:transparent;
}

.btn:hover{
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse{
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover{
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
}

.btn.btn--brown{
  color: #592b18;
  background-color: transparent;
  border: 2px solid #592b18;
}
.btn.btn--brown:hover{
  background: #592b18;
  color: #fff;
}
.btn.btn--peru{
  color: #cd853f;
  background-color: transparent;
  border: 2px solid #cd853f;
}
.btn.btn--peru:hover{
  background: #cd853f;
  color: #fff;
}
.btn.btn--white{
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
.btn.btn--white:hover{
  background: #fff;
  color: #fff;
}
.btn.btn--black{
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
}
.btn.btn--black:hover{
  background: #000;
  color: #fff;
}
.btn.btn--green{
  color: #046241;
  background-color: transparent;
  border: 2px solid #046241;
}
.btn.btn--green:hover{
  background: #046241;
  color: #fff;
}
.btn.btn--green--reverse{
  color: #ffffff;
  background-color: #046241;
}
.btn.btn--green--reverse:hover{
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.back-to-position{
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right{
  transform: translateX(-150px);
}
.back-to-position.to-left{
  transform: translateX(150px);
}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0{
  transition-delay: 0s;
}
.show .back-to-position.delay-1{
  transition-delay: .3s;
}
.show .back-to-position.delay-2{
  transition-delay: .6s;
}

/* HEADER  */
header{
  width: 100%;
  background: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  /* relative는 가로넓이가 최대한으로 늘어나려고 하고 fixed,absolute는 최대한 줄어들려고 함. */
  top: 0;
  z-index: 10;
}

header > .inner{
  height: 120px;
}

header .logo{
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu{
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header .sub-menu ul.menu{
  font-family: Arial, sans-serif;
  font-size: 13px;
  display: flex;
}
header .sub-menu ul.menu li{
  position: relative;
}
header .sub-menu ul.menu li::before{
  content: "";
  /* display: block;
  가상클래스는 기본이 인라인이므로 변경, absolute는 block로 변경됨으로 지워도가능함. */
  width: 1px;
  height: 12px;
  background: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before{
  display: none;
}
header .sub-menu ul.menu li a{
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover{
  color: #000;
}
header .sub-menu .search{
  height: 34px;
  position: relative;  
}
header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

header .sub-menu .search input:focus{
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons{
  height: 24px;
  /* matrial icon 폰트크기가 24px임 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: .4s;
}

/* header .sub-menu .search.focused .material-icons{
  opacity: 0;
} 예전의 스타벅스에서는 검색창이 활성화되면 돋보기버튼이 사라졌지만 지금은 그대로 유지 */

header .main-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
}

header .main-menu .item{
 
}

header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__name{
  background: #2c2a29;
  color: #690;
  text-decoration: underline;
}


header .main-menu .item .item__contents{
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
  background: #2c2a29;
  /* height: 200px; */
  padding: 20px 0;
}
header .main-menu .item:hover .item__contents{
  display: block;
}
header .main-menu .item .item__contents > ul{
  display: flex;
}
header .main-menu .item .item__contents > ul > li{
  width: 220px;
}
header .main-menu .item .item__contents > ul > li >a{
  display: block;
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents > ul > li> ul > li > a{
  padding: 5px 10px 5px 0;
  font-size: 12px;
  color: #999;
}

header .main-menu .item .item__contents > ul > li:hover > a,
header .main-menu .item .item__contents > ul > li> ul > li:hover >a{
  text-decoration: underline;
}
header .badge{
  position: absolute;
  top: 132px;
  right: 12px;
  z-index: 10;
  display: none;
}


/* visual section */
.visual{
  margin-top: 120px;
  /* header의 높이값을 빼줌 */
  background-image: url("../images/visual_bg.jpg");
  background-size: cover;
  background-position: center ;
}
.visual .inner{
  height: 646px;
}
.visual .title{
  position: absolute;
  top: 130px;
  left: 5px;
}
.visual .title .btn{
  position: absolute;
  top: 200px;
  left: 85px;
}
.visual .cup1{
  position: absolute;
  top: 100px;
  left: 340px;
}
.visual .cup2{
  position: absolute;
  right: 210px;
  bottom: 100px;
}
.visual .cup3{
  position: absolute;
  right: 0;
  top: 100px;
}
.visual .fade-in{
  opacity: 0;
}

/* notice */
.notice{}
.notice .notice-line{
  position: relative;
}
.notice .notice-line .bg-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.notice .notice-line .bg-right{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner{
  height: 62px;
  display: flex;
  line-height: 62px;
}
.notice .notice-line .inner__left{
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2{
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container{
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-wrapper{}
.notice .notice-line .inner__left .swiper-slide{
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a{
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more{
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
}
.notice .notice-line .inner__right{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner__right h2{
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion{
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.notice .notice-line .inner__right .material-icons{
  font-size: 30px;
}

.notice .promotion{
  height:0px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;  
  overflow: hidden;
}
.notice .promotion.show{
  height: 693px;  
  
}
.notice .promotion .swiper-container{
  width: calc(819px * 3 + 20px);
  /* 예시 width: calc(100%-50) 전체를 알수 없을때 전체-50활용 */
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%; 
  margin-left: calc((819px * 3 + 20px)/-2);
  /* left 50%하고 가로 너비의 절반값을 margin-left로 주면 정중앙으로 위치함 */
}

.notice .promotion .swiper-slide{
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper-slide .btn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination{
  bottom: 40px;
  left: 0;
  right: 0;
  /* link tag연결한 min파일에 absolute,center등 기본적인 내용이 정리되어있음 */
}
.notice .promotion .swiper-controls{
  cursor: pointer;
}
.notice .promotion .swiper-controls .swiper-start{
  position: absolute;
  bottom: 46px;
  left: 50%;
  margin-left: -45px;  
  width: 9px;
  height: 12px;
  background-image: url("../images/main_prom_play.png");
  border: none;
  padding: 0;
  display: none;
}
.notice .promotion .swiper-controls .swiper-stop{
  position: absolute;
  bottom: 46px;
  left: 50%;
  margin-left: -45px;  
  width: 9px;
  height: 12px;
  background-image: url("../images/main_prom_stop.png");
  border: none;
  padding: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet{
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active{
  background-image: url("../images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next{
  width: 42px;
  height: 43px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}
.notice .promotion .swiper-prev{
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next{
  right: 50%;
  margin-right: -480px;

}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover{
  border: 2px solid #000;
}

.rewards{
  background-color: #1e3932;
  height: 240px;
}
.rewards .inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rewards .inner>img{
  margin: 10px 20px;
}
.rewards .rewards-contents .info-cont{
  width: 100%;
  display: flex;
  margin: 20px 15px 15px 0 ;
  border-bottom: 1px solid #fff;
  justify-content: space-between;

}

.rewards .rewards-contents .info-cont .info-cont_txt{
  margin-bottom: 10px;
  color: #fff;
  margin-right: 30px;
}
.rewards .rewards-contents .info-cont .info-cont_txt h2{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}
.rewards .rewards-contents .info-cont .info-cont_txt h2 strong{
  font-size: 28px;
  font-weight: 900;
}
.rewards .rewards-contents .info-cont .info-cont_txt p{
  font-size: 17px;
}
.rewards .rewards-contents .info-cont .info-cont_txt p strong{
  font-weight: 700;
}
.rewards .rewards-contents .info-cont .btns{
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;  
}
.rewards .rewards-contents .info-cont .btns .btn{
  width: 100px;
  height: 45px;
}
.rewards .rewards-contents .info-cont .btns .btn:hover{
  text-decoration: underline;
}
.rewards .rewards-contents .info-cont .btns .btn:first-child{
  margin-right: 15px;
}
.rewards .rewards-contents  .gift-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rewards .rewards-contents  .gift-cont .gift-cont_txt{

}
.rewards .rewards-contents  .gift-cont .gift-cont_txt p{
  color: #fff;
  font-size: 12px;  
}
.rewards .rewards-contents .gift-cont .gift-cont_txt p strong{
  font-weight: 600;
}
.rewards .rewards-contents  .gift-cont .btn{
  width: 215px;
}


.product-wrap{
  background-image: url("../images/season_product_bg.jpg");
  background-size: cover;
  height: 572px;
  position: relative;
}
.product-wrap .product-img{
  position: absolute;
  top: 70px;
  left: 100px;
}
.product-wrap .product-cont{
  position: absolute;
  right: 120px;
  top: 190px;
}
.product-wrap .product-cont img{
  margin-bottom: 30px;
}

.product-wrap .product-cont a{

}

.reserve{
  background-image: url("../images/reserve_coffee_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f4f2eb;
  height: 400px;  
}

.reserve .reserve-left-bg{
  background-image: url("../images/reserve_left_bg.png");
  background-repeat: no-repeat;
}
.reserve .inner{
  position: relative;
}
.reserve .inner img{
  position: absolute;
  top: 120px;
}
.reserve .inner a{
  position: absolute;
  top: 270px;
  left: 250px;
}

.favorite{
  background-image: url("../images/favorite_bg.png");
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.favorite .inner{
  padding: 120px 0;
}
.favorite .favorite-text{
  display: flex;
  width: 362px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.favorite .favorite-text h2{
  background-image: url("../images/favorite_text1.png");
  width: 258px;
  height: 204px;
  margin-bottom: 40px;
}
.favorite .favorite-text h5{
  background-image: url("../images/favorite_text2.png");
  width: 362px;
  height: 156px;
  margin-bottom: 40px;
}

.favorite .favorite-imgs{
  position: absolute;
  right: -250px;
  top: 100px;
}

.reserve-magazine{
  background-image: url("../images/reserve_bg_pc.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 400px;
}
.reserve-magazine .reserve-magazine-text{
  position: absolute;
  top: 150px;
  left: 100px;
}
.reserve-magazine .btn{
  position: absolute;
  top: 300px;
  left: 350px;
}
.reserve-magazine .reserve-magazine-img{
  position: absolute;
  right: 0;
}

.store{
  background-image: url("../images/store_bg.jpg");
  height: 400px;
}

.store .store-pic1{
  background-image: url("../images/find_store_picture1.png");
  height: 312px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 366px;
  background-size: contain;
}
.store .store-pic2{
  background-image: url("../images/find_store_picture2.png");
  height: 228px;
  left: 390px;
  position: absolute;
  top: 149px;
  width: 228px;
  z-index: 2;
  background-size: contain;
}
.store .store-bg1{
  background-image: url("../images/find_store_texture1.png");
}
.store .store-bg2{
  background-image: url("../images/find_store_texture2.png");
}
.store .texts{
  width: 385px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  right: 0;
  top: 100px;


}
.store .texts .store-text1{
  background-image: url("../images/find_store_text1.png");
  height: 54px;
  width: 385px;
  margin-bottom: 20px;
}
.store .texts .store-text2{
  background-image: url("../images/find_store_text2.png");
  width: 385px;
  height: 61px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
}

/* FOOTER */
footer{
  width: 100%;
  background-color:#2c2a29;
  padding: 35px 0;
  
}

footer .footer-wrap{
  width: 1182px;
  height: 214px;
  margin: 0 auto;
  background-image: url("../images/footer_logo.png");
  background-repeat: no-repeat;
  background-position:  right 0;
  position: relative;
}

footer .footer-menu{
  width: 1182px;
  height: 214px;
  margin: 0 auto;  
  display: flex;
}

footer .footer-menu>li{
  width: 220px;
  height: 24px;
}

footer .footer-menu>li>ul .menu-title{
  margin-bottom: 10px;
}
footer .footer-menu>li>ul .menu-title a{
  font-size: 13px;
  font-weight: 700;
}
footer .footer-menu>li>ul>li:hover a{
  text-decoration: underline;
}
footer .footer-menu>li>ul>li>a{
  font-size: 12px;
  color: #fff;
}
footer .footer-awards-wrap{
  background-color: #282828;
  height: 100px;
}
footer .footer-awards-wrap .footer-awards{
  width: 1182px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

footer .copyright .copy-list{
  display: flex;
}
footer .copyright .copy-list li{
  padding: 10px;
  position: relative;
}
footer .copyright .copy-list li:first-child a{
  color: #669900;
}
footer .copyright .copy-list li::after{
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
  border-radius: 50%;
}
footer .copyright .copy-list li:last-child:after{
  content: "";
  width: 0;
}
footer .copyright .copy-list li a{
  font-size: 12px;
  color: #fff;
}
footer .copyright .copy-btns{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
footer .copyright .copy-btns .btn{
  font-size: 12px;
  margin-right: 10px;
}
footer .copyright .copy-btns .btn:last-child{
  margin-right: 0;
}
footer .copyright .copy-info{
  margin-top: 30px;
  text-align: center;
}
footer .copyright .copy-info span{
  color: #999;
  margin-right: 20px;
  font-size: 12px;
}
footer .copyright .copy-info span:last-child{
  margin-right: 0;
}
footer .copyright .copy-reserved{
  color: #999;
  text-align: center;
  margin-top: 12px;
}

#to-top{
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 10px;
  z-index: 9;
}